
	<div class="main-w3layouts wrapper">
		<h1>Creative SignUp Form</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
                    {{#if errorss}}
                       {{#each errorss}}
                            {{#each this}}                            
                                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    {{this}}
                                </div>
                            {{/each}}
                        {{/each}}
						{{else}}
                    {{/if}}    

				<form action="#" method="post">
					
					<input class="text email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
					<div class="wthree-text">
						<div class="clear"> </div>
					</div>
					<input type="submit" value="Login">
				</form>
				<p>Don't have an Account? <a href="/users/register"> Regiser now!</a></p>
			</div>
		</div>
	</div>
